<nav class="navbar">
    <div class="container">

        <div class="p-grid p-formgrid">
            <div class="p-col-12 p-lg-4">
             <a href="javascript:;" class="navbar-too" (click)="exibir()"><i class="pi pi-bars"></i> </a>  
            </div>
 
        </div>
        
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-usuario">Ailton</li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos">Lancamentos</a> </li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a> </li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a href="#">Logout</a> </li>

    </ul>
  
</nav>