body{
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
    margin: 0;

}
label{
    font-weight: bold;
    padding: 2px;
}

@media (min-width:1200px){

    .container{
        width: 1170px;
        margin: 0 auto;
     
    }
}

.tb-col-valor{

    width: 120px;
    text-align: right;
}

.tb-col-data{

    width: 120px;
    text-align: center;
}

.tb-col-acoes{

    width: 90px;
    text-align: center;
}



